<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site de receitas</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark-icons.css">
</head>

<body>
    <h1 class="text-center"><br><strong><span style="color: rgb(33, 33, 33);">Receita de Nhoque de Abóbora sem Glúten e sem Lactose</span></strong><br><br></h1>
    <div class="container text-center"><img src="assets/img/12345678.jpg"></div>
    <p class="text-center"><br><strong><span style="color: rgb(33, 33, 33);">INGREDIENTES</span></strong><br><br><span style="color: rgb(51, 51, 51);">100&nbsp;gramas de&nbsp;abóbora cozida&nbsp;usei japonesa – casca verde100&nbsp;gramas de&nbsp;fécula de batata ou farinha de arroz1&nbsp;colher sopa de&nbsp;azeite1&nbsp;pitada de&nbsp;sal rosa</span><br><br></p>
    <p class="text-center"><br><strong><span style="color: rgb(33, 33, 33);">INSTRUÇÕES</span></strong><br><br><span style="color: rgb(51, 51, 51);">Cozinhar a abóbora na panela de pressão por 15 a 20 minutos aproximadamente .Colocar essa abóbora em uma travessa e amassar com o garfo , acrescentar a farinha , misturar delicadamente e colocar o azeite e o sal .Colocar um pouquinho d água para dar a consistência do nhoque se necessário ( depende da umidade da abóbora ).Polvilhar a mesa com a farinha fazer um rolinho bem fino com a massa e cortar com a faca delicadamente .Colocar em uma panela grande com água fervendo , acrescentar as bolinas de nhoque e após 5 minutos essa bolinhas sobem a superfície da panela .Escorrer e está pronto para consumo ou se quiser congelar por até 3 mesesUsar com molho de sua preferência .</span><br><br></p>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
</body>

</html>